#table_container {
  overflow-x: auto;
  display: flex;
  margin-top: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.contact {
  padding-left: 20px;
}

#button {
  margin-top: 85px;
}
